/* demo */

* {
  outline: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background: #04091E;
  font-family: system-ui;
  color: #04091e;
  text-align: center;
}

.intro,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro {
  background: #6e4ce1;
  color: #f6f2e8;
}

footer {
  background: #04091E;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  display: block;
  margin: 20px 0 0 0;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
  color: #F6F2E8;
  text-decoration: none;
}

a:hover {
  color: #6e4ce1;
}

/* marquee */

.marquee {
  position: relative;
  z-index: 3;
  overflow: hidden;
  padding: 200px 0;
}

.marquee-content {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  display: -webkit-box;
  align-items: center;
  padding: 33vh 0;
  text-align: center;
}

.marquee-carousel.marquee-carousel-1 {
  margin-right: -300px;
  margin-bottom: 11px;
}

@media (min-width: 768px) {

  .marquee-carousel.marquee-carousel-1 {
    margin-bottom: 16px;
  }
}

@media (min-width: 1600px) {

  .marquee-carousel.marquee-carousel-1 {
    margin-bottom: 23px;
  }
}

.marquee-carousel.marquee-carousel-2 {
  margin-left: -300px;
}

.marquee-items {
  -webkit-transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1) !important;
  -moz-transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1) !important;
  -o-transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1) !important;
  display: -webkit-box;
  position: relative;
  width: 100%;
  height: 150px;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1) !important;
}

@media (min-width: 768px) {
  .marquee-items {
    height: 250px;
  }
}

@media (min-width: 1600px) {
  .marquee-items {
    height: 300px;
  }
}

.marquee-item {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  flex-shrink: 0;
  overflow: hidden;
  width: 150px;
  height: 100%;
  margin-right: 11px;
  background: #6e4ce1;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .marquee-item {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    width: 250px;
    margin-right: 16px;
    border-radius: 24px;
  }
}

@media (min-width: 1600px) {
  .marquee-item {
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    width: 300px;
    margin-right: 23px;
    border-radius: 34px;
  }
}

.marquee-item img {
  width: 100%;
  height: auto;
}